<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Pendaftaran</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-6 col-5 text-right">
					<a class="btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

					<a class="btn btn-sm btn-neutral" href="javascript:void(0)">
						Filters
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
    <div class="card">
          <div class="bg-secondary card-header">
            <h6 class=" h2 text-dark d-inline-block mb-0">Maklumat Peribadi</h6>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">Nama</label>
                <input class="form-control" type="text" value="Kassim Ahmad" id="example-text-input">
              </div>
              <div class="form-group">
                <label for="example-search-input" class="form-control-label">No. Kad Pengenalan</label>
                <input class="form-control" type="number" value="941222085607" id="example-search-input">
              </div>
              <div class="form-group">
                <label for="example-email-input" class="form-control-label">No. Polis/Tentera</label>
                <input class="form-control" type="email" value="" id="example-email-input">
              </div>
              <div class="form-group">
                <label for="example-url-input" class="form-control-label">Umur</label>
                <input class="form-control" type="url" value="35" id="example-url-input">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Jantina</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Lelaki</option>
                  <option>Perempuan</option>
                </select>
              </div>
              <div class="form-group">
                <label for="example-number-input" class="form-control-label">Agama</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Islam</option>
                  <option>Kristian</option>
                  <option>Buddha</option>
                  <option>Lain-lain</option>
                </select>
              </div>
              <div class="form-group">
                <label for="example-url-input" class="form-control-label">Alamat</label>
                <input class="form-control" type="url" value="" id="example-url-input">
              </div>
              <div class="form-group">
                <label for="example-url-input" class="form-control-label">No. Telefon</label>
                <input class="form-control" type="url" value="012-2310933" id="example-url-input">
              </div>
              <div class="form-group">
                <label for="example-url-input" class="form-control-label">Pekerjaan</label>
                <input class="form-control" type="url" value="Pegawai Kerajaan" id="example-url-input">
              </div>
              <div class="form-group">
                <label for="example-url-input" class="form-control-label">Majikan</label>
                <input class="form-control" type="url" value="Jabatan Pendaftaran Negara" id="example-url-input">
              </div>
              <div class="form-group">
                <label for="example-url-input" class="form-control-label">Alamat Majikan</label>
                <input class="form-control" type="url" value="" id="example-url-input">
              </div>
              <div class="form-group">
                <label for="example-url-input" class="form-control-label">No. Telefon Majikan</label>
                <input class="form-control" type="url" value="012-2310933" id="example-url-input">
              </div>
              <div class="text-right">
              <button class="btn btn-primary" (click)="navigatePage('responden')">Next >
              </button>
              </div>
            </form>
          </div>

    </div>
</div>