<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Pendaftaran</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-6 col-5 text-right">
					<a class="btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

					<a class="btn btn-sm btn-neutral" href="javascript:void(0)">
						Filters
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
    <div class="card">
          <div class="bg-secondary card-header">
            <h6 class=" h2 text-dark d-inline-block mb-0">Ujian Kemampuan Kelayakan</h6>
          </div>
          <div class="card-body">
            <form>
              <div class=" table-responsive">
                        <table class=" table align-items-center table-flush">
                            <thead class=" thead-light">
                                <tr>
                                    <th class=" sort" data-sort="name" scope="col">No.</th>

                                    <th class=" sort" data-sort="budget" scope="col">Perkara</th>

                                    <th  scope="col"></th>

                                    <th scope="col"></th>

                                    <th scope="col" class="text-center">Jumlah</th>

                                </tr>
                            </thead>


                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td><b>Gaji (Gaji Pokok + Elaun)</b></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input class="form-control" value="" style="width:100px" >
                                    </td>

                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td><b>Pendapatan lain</b><br> i) Sewaan, Pajakan<br>ii) Bonus, dividen, keuntungan daripada syer <br>iii) Faedah dari simpanan tetap<br>
                                    iv) Pencen<br>v) Royalti Karya vi) Pendapatan lain </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input class="form-control" value="" style="width:100px" >
                                    </td>

                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td><b>Tanggungan</b><br>i) Sumbangan untuk KWSP<br>ii) Sumbangan PERKESO<br>iii) Cukai Pendapatan </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input class="form-control" value="" style="width:100px" >
                                    </td>

                                </tr>
                                <tr>
                                    <th>4</th>
                                    <td><b>Pelepasan</b><br>i) Pinjaman Perumahan pertama<br>ii) Perbelanjaan isi rumah, diri dan keluarga</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input class="form-control" value="" style="width:100px" >
                                    </td>

                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                    <td></td>
                                    <td><b>TOTAL</b></td>
                                    <td>
                                        <input class="form-control" value="" style="width:100px" >
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
      
              <div class="text-right">
              <button class="btn btn-primary" (click)="navigatePage('kategori')">< back
                </button>
              <button class="btn btn-primary" (click)="navigatePage('bayaran')">Next >
              </button>
              </div>
            </form>
          </div>

    </div>
</div>