<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Pendaftaran</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-6 col-5 text-right">
					<a class="btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

					<a class="btn btn-sm btn-neutral" href="javascript:void(0)">
						Filters
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
    <div class="card">
          <div class="bg-secondary card-header">
            <h6 class=" h2 text-dark d-inline-block mb-0">Kategori Khidmat Nasihat</h6>
          </div>
          <div class="card-body">
          
              <div class="form-group">
                <div class="form-group">
                <label for="exampleFormControlSelect1">Kategori Syariah</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option class="text-center">---</option>
                  <option>RAYUAN SYARIAH KELUARGA/MAL</option>
                  <option>SEMAKAN SYARIAH KELUARGA/MAL</option>
                  <option>TUNTUTAN PENGESAHAN WAQAF</option>
                  <option>TUNTUTAN GANTIRUGI PERTUNANGAN</option>
                  <option>PERMOHONAN PENGESAHAN/PERINTAH NIKAH</option>
                  <option>PERMOHONAN/TUNTUTAN KEBENARAN POLIGAMI</option>
                  <option>PERMOHONAN PERINTAH DAFTAR NIKAH POLIGAMI</option>
                  <option>TUNTUTAN FASAKH</option>
                  <option>TUNTUTAN MUTA`AH</option>
                  <option>TUNTUTAN HARTA SEPENCARIAN</option>
                  <option>TUNTUTAN NAFKAH ISTERI</option>
                  <option>TUNTUTAN NAFKAH EDDAH</option>
                  <option>TUNTUTAN MENGUBAH PERINTAH NAFKAH ANAK/ISTERI/LAIN-LAIN</option>
                  <option>TUNTUTAN TUNGGAKAN NAFKAH ANAK/ISTERI/LAIN-LAIN</option>
                  <option>TUNTUTAN MENGUBAH PERINTAH HAK JAGAAN ANAK/HAK LAWATAN</option>
                  <option>PERMOHONAN MEMBATALKAN PERINTAH NAFKAH ANAK/ISTERI</option>
                  <option>TUNTUTAN HADHANAH</option>
                  <option>TUNTUTAN PEMECATAN PENJAGA KANAK-KANAK</option>
                  <option>PERMOHONAN PENJAGA DIRI/HARTA/ANAK YATIM</option>
                  <option>PERMOHONAN PENGUATKUASAAN PERINTAH NAFKAH</option>
                  <option>PERMOHONAN PENGESAHAN WASIAT</option>
                  <option>PERMOHONAN FARAQ NIKAH</option>
                  <option>TUNTUTAN NAFKAH ANAK</option>
                </select>
              </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Kategori Sivil</label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option class="text-center">---</option>
                  <option>PENGANGKATAN</option>
                  <option>ANGGAPAN KEMATIAN</option>
                  <option>AKTA PENANAM PADI</option>
                  <option>AKTA SEWA BELI</option>
                  <option>KUATKUASA PERINTAH - AKTA SEWA BELI</option>
                  <option>CERAI</option>
                  <option>DAN LAIN-LAIN</option>
                  <option>KUATKUASA AWARD TRIBUNAL /TUNTUTAN PEMBELI RUMAH</option>
                  <option>HARTA PUSAKA KECIL</option>
                  <option>KUATKUASA PERINTAH - HARTA PUSAKA KECIL</option>
                  <option>KUATKUASA PERINTAH HARTA SEPENCARIAN</option>
                  <option>JAGAAN</option>
                  <option>JUAL BELI</option>
                  <option>KEMALANGAN</option>
                  <option>TUNTUTAN NAFKAH ANAK DAN ISTERI</option>
                  <option>TUNTUTAN NAFKAH ISTERI</option>
                  <option>PERBANKAN</option>
                  <option>PAMPASAN PEKERJA</option>
                  <option>PERIHAL TANAH</option>
                  <option>PERIHAL WASIAT</option>
                  <option>SEWAAN</option>
                  <option>UNDANG-UNDANG SYARIKAT</option>
                  <option>UNDANG-UNDANG PERKONGSIAN</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Kategori Jenayah</label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option class="text-center">---</option>
                  <option>AKTA HASUTAN 1948</option>
                  <option>AKTA SENJATA 1960</option>
                  <option>AKTA BAHAN LETUPAN 1957</option>
                  <option>AKTA DADAH BERBAHAYA 1952</option>
                  <option>AKTA PENCULIKAN 1961</option>
                  <option>AKTA KOMUNIKASI & MULTIMEDIA 1998</option>
                  <option>AKTA SURUHANJAYA & KOMUNIKASI MULTIMEDIA MALAYSIA 1998</option>
                  <option>KANUN TATACARA JENAYAH</option>
                  <option>AKTA PENCEGAHAN PENGUBAHAN WANG HARAM & PENCEGAHAN PEMBIAYAAN KEGANASAN 2001</option>
                  <option>AKTA ANTIPEMERDAGANGAN ORANG 2007</option>
                  <option>AKTA SURUHANJAYA PENCEGAHAN RASUAH MALAYSIA 2009</option>
                  <option>AKTA RAHSIA RASMI 1972</option>
                  <option>KANUN KESEKSAAN 1997</option>
                  <option>JENAYAH KANAK-KANAK</option>
                  <option>RAYUAN JENAYAH</option>
                  <option>KES JENAYAH KELULUSAN KETUA PENGARAH</option>
                  <option>RAYUAN JENAYAH KELULUSAN MENTERI</option>
                </select>
                </div>
                <div class="form-group">
                <label for="exampleFormControlSelect1">Pendamping Guaman</label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option class="text-center">---</option>
                  <option>KANUN KESEKSAAN (CABUL)</option>
                  <option>KANUN KESEKSAAN (ROGOL)</option>
                  <option>KANUN KESEKSAAN (SEKS LUAR TABAI)</option>
                </select>
                </div>
              <div class="text-right">
              <button class="btn btn-primary" (click)="navigatePage('penjaga')">< Back
                </button>
              <button class="btn btn-primary" (click)="navigatePage('ujian')">Next >
              </button>
              </div>
                
            
          </div>

    </div>
</div>